{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-sm-12">

    <form action="/add_post" method="post">

      {% for cat, msg in get_flashed_messages(True) %}
        <div class="alert alert-{{ cat }} text-center" role="alert">
            {{ msg }}
        </div>
      {% endfor %}

      {{ form.hidden_tag() }}

      <div class="mb-3">
        <label class="form-label"><h5>Название</h5></label>
        {{ form.title(class="form-control") }}
      </div>

      <div class="mb-3">
        <label class="form-label"><h5>Текст</h5></label>
        {{ form.text(class="form-control") }}
      </div>

      <div class="mb-3">
        <label class="form-label"><h5>Категория</h5></label>
        {{ form.category(class="form-control") }}
      </div>

      {{ form.submit(class="btn btn-outline-dark") }}

    </form>
  </div>
</div>
{% endblock %}