{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-sm-8 py-3">
        <p>
            <b style="color: #3b2b1aff;">Митапы по машинному обучению</b>
             - это неформальные встречи и разговоры о машинном обучении, проводившиеся с февраля по май 2021 года
            на базе Института математики и фундаментальной информатики Сибирского федерального университета
            (г. Красноярск, Россия).
        </p>

        <p>
            Темы митапов:
            <ul>
                <li> как создать и обучить свою первую модель; </li>
                <li> почему тебе нужно завести на своем компьютере питона, анаконду и панду; </li>
                <li> как деревья принимают решения; </li>
                <li> в чем разница между классификацией и кластеризацией (кроме 4 букв); </li>
                <li> и др. </li>
            </ul>
        </p>

        <p>
            Участники митапов - студенты бакалавриата (1-4 курсы) и магистратуры.
        </p>

        <p>
            <a href="https://vk.com/machine_learning_meetups" target="_blank" class="btn btn-light">
                <img src="{{ url_for('static', filename='icons/vk.svg')}}" alt="..." height="25em" width="25em">
                VK
            </a>
        </p>
    </div>
    <div class="col-sm-4">
        <figure class="figure">
            <img src="{{ url_for('static', filename='logos/meetup_logo.jpg')}}" class="figure-img img-fluid rounded" alt="...">
        </figure>
    </div>
</div>

<div class="row my-5">
    <div class="col"><hr style="background-color: rgba(59,43,26,0.4);"></div>
</div>

<div class="row">
    <div class="col-sm-4">
        <figure class="figure">
            <img src="{{ url_for('static', filename='logos/CB_logo.jpg')}}" class="figure-img img-fluid rounded" alt="...">
        </figure>
    </div>
    <div class="col-sm-8 py-3">
        <p>
            <b style="color: #3b2b1aff;">Computer Break</b>
            - это сообщество для всех, чья жизнь связана с информационными технологиями (разработчики, кодеры, аналитики и им сочувствующие).
        </p>
        <p>
            Здесь можно познакомиться с единомышленниками, поделиться опытом и обменяться полезной информацией.
        </p>
        <p>
            В сообществе проводятся онлайн встречи по заранее определенной теме.
        </p>
        <p>
            <a href="https://t.me/computer_break" target="_blank" class="btn btn-light">
                <img src="{{ url_for('static', filename='icons/telegram.svg')}}" alt="..." height="25em" width="25em">
                Telegram
            </a>
            <a href="https://discord.gg/tWQW6hebTQ" target="_blank" class="btn btn-light">
                <img src="{{ url_for('static', filename='icons/discord.svg')}}" alt="..." height="25em" width="25em">
                Discord
            </a>
        </p>
    </div>
</div>
{% endblock %}