{% extends 'base.html' %}

{% block content %}

<style>
    .dashboard-button{
        width: 100%;
    }
</style>

<div class="container text-center mb-4">
    <h5>{{ user.pr.name }}</h5>
    <h6>{{ user.pr.city }}</h6>
</div>

<div class="container mb-4">
    <div class="row my-2">
        <div class="col-sm"></div>

        <div class="col-sm-2">
            <a href="#" class="btn btn-outline-dark dashboard-button">Добавить пост</a>&nbsp;
        </div>
        <div class="col-sm-2">
            <a href="#" class="btn btn-outline-dark dashboard-button">Профиль</a>&nbsp;
        </div>
        <div class="col-sm-2">
            <a href="{{ url_for('logout') }}" class="btn btn-outline-dark dashboard-button">Выйти</a>
        </div>

        <div class="col-sm"></div>
    </div>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card mb-3" style="background-color: rgba(166,141,111,0.2);">
                <div class="card-body">
                    <h5 class="card-title">Заголовок карточки</h5>
                    <p class="card-text">Это более длинная карта С вспомогательным текстом ниже в качестве естественного перехода к дополнительному контенту. Этот контент немного длиннее.</p>
                    <a href="#" class="btn btn-dark">Читать пост</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card mb-3" style="background-color: rgba(166,141,111,0.2);">
                <div class="card-body">
                    <h5 class="card-title">Заголовок карточки</h5>
                    <p class="card-text">Это более длинная карта С вспомогательным текстом ниже в качестве естественного перехода к дополнительному контенту. Этот контент немного длиннее.</p>
                    <a href="#" class="btn btn-dark">Читать пост</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card mb-3" style="background-color: rgba(166,141,111,0.2);">
                <div class="card-body">
                    <h5 class="card-title">Заголовок карточки</h5>
                    <p class="card-text">Это более длинная карта С вспомогательным текстом ниже в качестве естественного перехода к дополнительному контенту. Этот контент немного длиннее.</p>
                    <a href="#" class="btn btn-dark">Читать пост</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card mb-3" style="background-color: rgba(166,141,111,0.2);">
                <div class="card-body">
                    <h5 class="card-title">Заголовок карточки</h5>
                    <p class="card-text">Это более длинная карта С вспомогательным текстом ниже в качестве естественного перехода к дополнительному контенту. Этот контент немного длиннее.</p>
                    <a href="#" class="btn btn-dark">Читать пост</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}