{% extends 'base.html' %}

{% block content %}

<div class="row">
  <div class="col-sm-3 pb-2">
    <h5>Выбери тему: </h5>

    {% for cat in categories %}
      <a href="{{ url_for('category', cat=cat) }}" class="btn btn-outline-ligh my-2 mr-2" style="border-color: #3b2b1aff; color: #3b2b1aff;"> {{ cat }} </a>
    {% endfor %}
  </div>

  <div class="col-sm">
    {% for user, post in table %}
      <div class="card mb-3 p-3" style="max-width: 1200px; background-color: rgba(166,141,111,0.15);">
        <div class="row g-0">
          <div class="col-md-7">
            <div class="card-body">
              <h4 class="card-title">{{ post.title }}</h4>
                <p class="card-text">{{ post.text[:50] }}</p>
                <p class="card-text"><small class="text-muted"><b> {{ user.pr.name }} </b> {{ post.date.strftime("%Y-%m-%d") }}
                  # {{ post.category }}</small></p>
                <a href="{{ url_for('post', id=post.id) }}" class="btn btn-dark">Читать далее</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

</div>

{% endblock %}