{% extends 'base.html' %}

{% block content %}
<form action="/login" method="post" style="max-width:500px;">

    {% for cat, msg in get_flashed_messages(True) %}
        <div class="alert alert-{{ cat }} text-center" role="alert">
            {{ msg }}
        </div>
    {% endfor %}

    <div class="row mb-3">
        <label for="femail" class="col-sm-3 col-form-label"><h5>Email</h5></label>
        <div class="col-sm">
            <input type="email" name="email" class="form-control" id="femail" placeholder="">
        </div>
    </div>

    <div class="row mb-3">
        <label for="fpassword" class="col-sm-3 col-form-label"><h5>Пароль</h5></label>
        <div class="col-sm">
            <input type="password" name="password" class="form-control" id="fpassword" placeholder="">
        </div>
    </div>

    <div class="container">
        <div class="row mb-3">
            <button type="submit" class="col-sm-8 btn btn-outline-dark">Войти</button>
            &nbsp;
            <a href="{{ url_for('register') }}" class="col-sm btn btn-outline-secondary">Регистрация</a>
        </div>
    </div>

</form>

{% endblock %}