{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-sm-3"></div>

    <div class="col-sm">
        <form action="/register" method="post" style="max-width:500px;">

            {% for cat, msg in get_flashed_messages(True) %}
                <div class="alert alert-{{ cat }} text-center" role="alert"> {{ msg }} </div>
            {% endfor %}

            {{ form.hidden_tag() }}

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label"><h5>Email</h5></label>
                <div class="col-sm"> {{ form.email(class="form-control") }} </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label"><h5>Имя</h5></label>
                <div class="col-sm"> {{ form.name(class="form-control") }} </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label"><h5>Возраст</h5></label>
                <div class="col-sm"> {{ form.age(class="form-control") }} </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label"><h5>Город</h5></label>
                <div class="col-sm"> {{ form.city(class="form-control") }} </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label"><h5>Пароль</h5></label>
                <div class="col-sm"> {{ form.password(class="form-control") }} </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label"><h5>Повтор пароля</h5></label>
                <div class="col-sm"> {{ form.confirm(class="form-control") }} </div>
            </div>

            <style>
                .reg{
                    width: 100%;
                }
            </style>

            <div class="text-center"> {{ form.submit(class="btn reg btn-outline-dark") }} </div>
        </form>
    </div>

    <div class="col-sm-3"></div>
</div>
{% endblock %}